# ===============================
# Node.js
# ===============================
node_modules/
# ===============================
# Next.js
# ===============================
.next/
out/
build/

# ===============================
# Environment variables (SECRETS)
# ===============================

.env.local


# ===============================
# Supabase
# ===============================
.supabase/

# ===============================
# TypeScript
# ===============================
*.tsbuildinfo

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDEs
# ===============================
.vscode/
.idea/
*.swp
*.swo

# ===============================
# Coverage / Testing
# ===============================
coverage/

# ===============================
# Misc
# ===============================
.vercel/
